/* Apply the following styles to all elements in the HTML document */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Set the background color for the entire body */
body {
    background: rgb(126, 63, 63);
}

/* Style for the main container that centers its content both horizontally and vertically */
#main-container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
}

/* Styles for the loader element */
#loader {
    height: 200px;
    width: 200px;
    display: flex;
    overflow: hidden;
    position: relative;
    border-radius: 50%; /* Create a circular shape */
    align-items: center;
    font-family: calibri;
    justify-content: center;
    background: radial-gradient(#9d0531, transparent); /* Apply a radial gradient background */
    box-shadow: 0 0 100px 20px rgba(0, 0, 0, 0.5) inset, 0 0px 50px 20px rgb(84 84 84 / 32%); /* Add shadow effects */
}

/* Styles for the loading text inside the loader */
#loading-text {
    z-index: 1;
    color: #a2a2a2;
    font-weight: bold;
    position: absolute;
    letter-spacing: 1px;
    text-shadow: 0 0 20px #777777; /* Apply a text shadow */
}

/* Styles for the animated elements before and after the loader */
#loader::before,
#loader::after {
    content: '';
    bottom: 0%;
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    animation: wavy 3s linear infinite, fill 10s linear infinite; /* Apply animations */
}

/* Styles for the element before the loader */
#loader:before {
    border-radius: 30%; /* Create a circular shape with rounded corners */
    background: rgb(206 206 206 / 33%); /* Apply a semi-transparent background */
}

/* Styles for the element after the loader */
#loader:after {
    border-radius: 40%; /* Create a circular shape with rounded corners */
    background: #424242; /* Apply a solid background color */
}

/* Keyframe animation for the wavy effect */
@keyframes wavy {
    to {
        transform: rotate(360deg); /* Rotate the element 360 degrees */
    }
}

/* Keyframe animation for the fill effect */
@keyframes fill {
    to {
        bottom: 110%; /* Move the element downward to create a filling effect */
    }
}

.bottom-left-image {
    position: absolute;
    bottom: 0;
    right: 0;
    font-family: calibri;
    font-weight: bold;
    color: #a2a2a2;
    text-shadow: 0 0 20px #777777;
  }